body {
    font-size: 16px;
    background-color: #DBE4FC;
    margin: 10px;

}

.logga {
    width: 160px;
    height: 107px;
}

.karta {
    width: 611px;
    height: 339px;
}

.entre {
    width: 706px;
    height: 471px;

}

header {
    display: flex;




}


h1 {
    font-size: 2rem;
}

nav ul {
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
    list-style: none;





}